<div class="border p-4 custom-border-radius custom-height">
  <div class="fs-12 fw-500 text-center text-secondary">Issue Log Form</div>

  <form
    class="d-flex flex-column align-items-center justify-content-between"
    [formGroup]="userLoginDetailsForm"
    (ngSubmit)="submitUserForm()"
  >
    <div class="w-100 form-height">
      <div class="container-fluid my-3 px-3">
        <div class="row">
          <div class="col-6 ps-0">
            <mat-form-field
              class="w-100 border custom-border-radius overflow-hidden bg-white"
            >
              <mat-label>Mobile Number</mat-label>
              <input
                matInput
                type="tel"
                pattern="[0-9]*"
                maxlength="10"
                minlength="10"
                formControlName="mobileNumber"
                #inputField
                (focusout)="getMobileNumber(inputField.value)"
              />
            </mat-form-field>
            <div class="text-danger fs-08" *ngIf="invalidDetails">
              Mobile Number is invalid
            </div>
          </div>

          <div class="col-6 pe-0">
            <mat-form-field
              class="w-100 border custom-border-radius overflow-hidden bg-white"
            >
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="container-fluid px-3">
        <div class="row">
          <div class="col-6 ps-0">
            <mat-form-field
              class="w-100 border custom-border-radius overflow-hidden bg-white"
            >
              <mat-label>Educational Qualification</mat-label>
              <mat-select formControlName="educationQualification">
                <mat-option
                  class="fs-08"
                  *ngFor="let item of educationalQualification"
                  [value]="item"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-6 pe-0">
            <mat-form-field
              class="w-100 border custom-border-radius overflow-hidden bg-white"
            >
              <mat-label>Preferred Language</mat-label>
              <mat-select formControlName="preferredLanguage">
                <mat-option
                  *ngFor="let item of preferredLanguage"
                  [value]="item"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="my-2">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button
            value="1"
            [disabled]="dialogClosedData"
            (click)="choosedOption('Support')"
            >Support Queries</mat-radio-button
          >
          <mat-radio-button
            [disabled]="dialogClosedData"
            value="2"
            checked
            (click)="choosedOption('Expert')"
            >Enquiry</mat-radio-button
          >
        </mat-radio-group>
      </div>

      <mat-form-field
        *ngIf="isSelectedRadioOption == 'Expert'"
        class="w-100 border custom-border-radius overflow-hidden bg-white"
      >
        <mat-label>Exquiry</mat-label>
        <mat-select
          formControlName="categoryId"
          (selectionChange)="showExpertsList($event)"
        >
          <mat-option
            *ngFor="let item of questionCategory"
            [value]="item?.id"
            >{{ item?.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <div class="row expert-row-height" *ngIf="showExperts">
        <div
          class="mt-2"
          *ngFor="let item of activeExperts"
          [ngClass]="[
            activeExperts?.length == 1
              ? 'col-12'
              : activeExperts?.length == 2
              ? 'col-6'
              : 'col-4'
          ]"
        >
          <div
            class="border rounded py-2 w-100 fw-500 text-center cursor-pointer"
            (click)="selectExpert(item)"
            [ngClass]="{
              'bg-danger text-white': selectedExpert == item?.userId
            }"
          >
            {{ item?.userName }}
          </div>
        </div>
        <div class="col-12 ps-5 pt-1" *ngIf="activeExperts?.length == 0">
          0 {{ isSelectedRadioOption }} available
        </div>
      </div>

      <mat-form-field
        class="w-100 border custom-border-radius mt-3 overflow-hidden bg-white"
      >
        <mat-label>Problem Statement</mat-label>
        <textarea matInput formControlName="problemStatement"></textarea>
      </mat-form-field>
    </div>

    <div class="w-100">
      <button
        *ngIf="!dialogClosedData"
        [disabled]="!userLoginDetailsForm.valid"
        type="submit"
        class="btn bg-danger text-white w-100 rounded-pill py-2 fs-09"
      >
        {{
          activeExperts?.length == 0 && showExperts
            ? "Schedule meeting with expert"
            : "Connect now with expert"
        }}
      </button>

      <div
        class="text-center text-secondary fs-09 lh-xl"
        *ngIf="dialogClosedData"
      >
        The meeting has been schedule at
        <span class="text-danger fw-500">{{
          userLoginDetailsForm.get("scheduleDate").value
        }}</span>
        from
        <span class="text-danger fw-500">{{
          userLoginDetailsForm.get("preferedStartTime").value
        }}</span>
        to
        <span class="text-danger fw-500">{{
          userLoginDetailsForm.get("preferedEndTime").value
        }}</span>
      </div>
    </div>
  </form>
</div>
