<div
  *ngIf="utilityService.showHeader$ | async"
  class="d-flex align-items-center justify-content-between custom-padding py-2 shadow position-fixed w-100 bg-white"
>
  <a
    href="https://www.oll.co/"
    target="_blank"
    class="rounded-circle overflow-hidden"
  >
    <img src="assets/images/ollLogo.svg" style="width: 3rem" />
  </a>

  <div class="d-flex align-items-center">
    <span></span>
  </div>

  <div class="dropdown d-flex" *ngIf="dataService.userData | async">
    <div class="userImg d-flex align-items-center justify-content-end">
      <img
        [src]="
          (dataService.userData | async)?.profile_pic_url ||
          '../../../assets/images/profile.svg'
        "
        alt=""
      />
    </div>
    <div>
      <button
        class="btn btn-transparent dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
      >
        {{ (dataService.userData | async)?.first_name }}
        {{ (dataService.userData | async)?.last_name }}
      </button>
      <ul class="dropdown-menu fs-09">
        <li
          (click)="profileDialog()"
          class="border-bottom pb-2 mb-2 cursor-pointer"
        >
          <a class="dropdown-item d-flex align-items-center">
            <i class="fa-solid fa-user me-2"></i>Profile</a
          >
        </li>

        <li (click)="logout()" class="cursor-pointer">
          <a class="dropdown-item d-flex align-items-center">
            <i
              class="fa-solid fa-right-from-bracket text-color me-2 cursor-pointer"
            ></i
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
