<div
  class="container d-flex flex-column align-items-center justify-content-center h-100"
>
  <div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <span class="fs-20 fw-500 text-secondary">Instant Meeting</span>
      <img src="assets/images/favIcon.svg" class="my-4" style="width: 12rem" />
      <button
        (click)="connectWithSupportTeam()"
        type="button"
        class="btn btn-theme-blue fs-11 px-4 py-2 text-white"
      >
        Click to connect with live expert instantly
      </button>
    </div>
  </div>
</div>
