<div
  class="d-flex align-items-center justify-content-between flex-wrap pt-5 pb-3"
>
  <div class="d-flex align-items-center">
    <i
      class="fa-solid fa-arrow-left fs-15 mx-3 cursor-pointer"
      (click)="goBack(true)"
      *ngIf="is_admin && viewType !== 'admin'"
      style="color: #da2128"
    ></i>
    <span class="fw-600 fs-12 lh-base position-relative">
      {{
        dataService.userDetails?.role_name == "Expert"
          ? "OLL Expert Dashboard"
          : is_admin
          ? supportUserName
          : "Customer Support Executive Dashboard"
      }}
      <div class="custom-border-bottom position-absolute"></div
    ></span>
  </div>

  <div
    class="d-flex align-items-center justify-content-between flex-wrap mt-3 mt-lg-0"
    *ngIf="!is_admin"
  >
    <div class="d-flex align-items-center me-3">
      <img
        src="assets/images/userLoginStatus.svg"
        style="width: 0.9rem; padding-top: 0.1rem"
      />
      <span class="fw-500 mx-2"> Login Status:</span>

      <div class="toggle-switch">
        <input
          class="toggle-input"
          id="toggle"
          type="checkbox"
          checked
          [(ngModel)]="toggleStatus"
          (change)="changeLoginStatus()"
        />
        <label class="toggle-label" for="toggle"></label>
      </div>
    </div>

    <div
      class="d-flex align-items-center me-3"
      *ngIf="dataService.userDetails.role_name !== 'Expert'"
    >
      <img
        src="assets/images/viewIcon.svg"
        style="width: 0.9rem; padding-top: 0.1rem"
      />
      <span class="fw-500 mx-2"> Change View:</span>

      <div class="toggle-switch">
        <input
          class="toggle-input"
          id="changeView"
          type="checkbox"
          [(ngModel)]="toggleChangeView"
          (change)="changeView()"
        />
        <label class="toggle-label" for="changeView"></label>
      </div>
    </div>
  </div>
</div>

<app-support-dashboard
  [userId]="supportUserid"
  [roleId]="supportRoleid"
  (availability_status)="getAvailabilityStatus($event)"
  *ngIf="viewType !== 'admin' && dataService.userDetails.role_name !== 'Expert'"
></app-support-dashboard>

<app-admin-dashboard
  (supportUserDetails)="getSupportUserDetails($event)"
  *ngIf="viewType === 'admin' && dataService.userDetails.role_name !== 'Expert'"
></app-admin-dashboard>

<app-expert-dashboard
  (availability_status)="getAvailabilityStatus($event)"
  *ngIf="dataService.userDetails.role_name == 'Expert'"
></app-expert-dashboard>
