.form-width {
  width: 20rem;
}

input {
  background-color: #ddd;
}

.submit-btn {
  background-color: #da2128;
  letter-spacing: 0.04rem;
}

.custom-border-bottom {
  border: 5px solid #da2128;
  border-radius: 1rem;
  width: 2.5rem;
}

.custom-btn-width {
  width: 20rem;
}

.canvas-position {
  top: 4.5rem;
}
