.userName {
  color: #212529;
  font-size: 1.5rem;

  @media screen and (max-width: 425px) {
    font-size: 1.2rem;
  }
}

.modalBtn {
  border-radius: 20px;
}

.submitBtn {
  background-color: #da2128;
  color: #fff;
  font-size: 0.9rem;

  @media screen and (max-width: 346px) {
    font-size: 0.8rem;
  }
}
