<div
  *ngIf="utilityService.showHeader$ | async"
  class="d-flex align-items-center justify-content-between custom-padding py-2 shadow position-fixed w-100 bg-white"
>
  <a
    href="https://www.oll.co/"
    target="_blank"
    class="rounded-circle overflow-hidden"
  >
    <img src="assets/images/cloneFuturaLogo.svg" style="width: 7rem" />
  </a>

  <a
    href="https://www.clonefutura.com/"
    target="_blank"
    class="btn-theme-blue fs-09 px-3 py-2 text-decoration-none"
    >About us</a
  >
</div>
